body {
    font-family: system-ui;
    font-size: 20px;
    margin: 0 auto;
    width: 100%;
    background-color: rgb(221, 221, 221);
}

.centeredText {
    text-align: center;
}

.inlineBlock {
    display: inline-block;
}

.webpageCentered {
    margin: auto;
}

.webpageClamp {
    min-width: 500px;
    max-width: 100vw;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

.smallInput {
    width: 130px;
    height: 30px;
    font-size: 20px;
    text-align: center;
}

.labelPadding {
    padding: 0 3px;
}

.sideMargins {
    margin: 0 7px 0 7px;
}

.marginRight10 {
    margin-right: 10px;
}

.marginLeft10 {
    margin-left: 10px;
}

.marginRight5 {
    margin-right: 5px;
}

.marginLeft5 {
    margin-left: 5px;
}

.fadeIn {
    animation-duration: 750ms;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        transform: translatey(35px);
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tinyText {
    font-size: 10px;
    width: 10px;
}

.button {
    min-width: 200px;
    max-width: 200px;
    height: 50px;
    font-size: 20px;
}

.smallerInput {
    width: 98px;
    height: 14px;
}

.scaleVwVh {
    max-width: 80vw;
    max-height: 100vh;
}

.hoverReveal:hover label {
    opacity: 1 !important;
}



.opacity0 {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.transform33 {
    transform: translateX(33px);
}