.flexSpace {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.inline {
    display: inline;
}

.main-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.m-x20{
    margin-left: 20px;
    margin-right: 20px;
}

.rangeSelector{
    transform: translate(5px, 5px);
}

#check {
    margin-left: 20px;
}

#range-label{
    display: inline-block !important;
    width: 20px;
    margin-right: 10px;
}
