.note {
    margin-left: 6px;
    margin-right: 6px;
    font-size: 48px;
    animation-duration: 1s;
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}